*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --light-pink: #D95FAE;
    --dark-ping: #A63C76;
    --fuchsia: #F230D2;
    --azzure: #0DC4D9;
    --dark-color: #0D0D0D;
    --grey: #687F8D;
}
/* opacity utilities */

/* text utilities */
h3{
    text-shadow: 4.2px 5.8px 7px black;;
}
/* body */
body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/abstract-uv-ultraviolet-light-composition.jpg);
    background-size: cover;
    background-position: center;

}
.squaresCount-wrap{
    color: white;

}
/* play button */
.play-button {
    position: relative;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .play-button i {
    transform: translate(-50%, -50%);
    font-size: 6rem;
    animation: pulse 2s infinite;
  }
  .play-icon {
    background-image: linear-gradient(to top, var(--light-pink), var(--azzure));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
/* /play button */
/* input section */
#squareCount-display input{
    text-align: center;
    background: none;
    color: white;
}
input[type=number] {
    -moz-appearance: textfield;
  }
  
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
/* input /section */

/* box section */
.single-box{
    width: 5vw;
    height: 5vw;
    border: 2px solid;
    border-image: linear-gradient(to top, var(--light-pink), var(--azzure)) 1;
    color: white;
    text-align: center;
    font-size: 1vw;
}
.single-box span{
    width: 100%;
}
.single-box a{
    text-decoration: none;
    color: white
}
.lip-bg-normal{
    background-color: var(--dark-color);
}
.lip-bg-fizz{
    background-color: var(--dark-ping);
}
.lip-bg-buzz{
    background-color: var(--azzure);
}
.lip-bg-buzzfizz{
    background-color: var(--fuchsia);
}

/* /box section */



